.content
  .card
    %h1 My Todo
    %ul
      %li Get a better domain name than laggedreader.com
      %li Once I have a domain name, configure the transactional mail service to that domain
      %li Login link on signup page is somewhat hidden (and vice-versa.)
